<?xml version="1.0"?>
 <connectionStrings>
    <add name="Deepwell" connectionString="Data Source=SADHWANI-PC;Initial Catalog=Deepwell;User Id=sa;Password=test1234;" providerName="System.Data.SqlClient" />
    <add name="DeepwellContext" connectionString="metadata=res://*/DeepwellModel.csdl|res://*/DeepwellModel.ssdl|res://*/DeepwellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SADHWANI-PC;initial catalog=Deepwell;user id=sa;password=test1234;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>