<?xml version="1.0"?>
 <connectionStrings>
    <add name="Deepwell" connectionString="Data Source=deepwell.cxm8ednsbbko.eu-west-2.rds.amazonaws.com;Initial Catalog=Deepwell;User Id=amits1100;Password=Matrix11;" providerName="System.Data.SqlClient" />
    <add name="DeepwellContext" connectionString="metadata=res://*/DeepwellModel.csdl|res://*/DeepwellModel.ssdl|res://*/DeepwellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=deepwell.cxm8ednsbbko.eu-west-2.rds.amazonaws.com;initial catalog=Deepwell;user id=amits1100;password=Matrix11;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>