<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DeepwellContext" connectionString="Data Source=DESKTOP-0QEQSK9\SQLEXPRESS;Initial Catalog=Deepwell;User Id=sa;Password=test1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>